
.mat-sidenav-container{
    height: 100%;
    background-color: #F2F7FF;
}

/* .mat-sidenav, .mat-sidenav-content {
    padding: 1rem;
} */

.mat-sidenav{
    background-color: #F2F7FF;
    width: 200px;
    padding-top: 5%;
    /* text-align: center; */
}
.mat-toolbar{
    background-color: #8cb8ff !important;
    color: #2F2D51;
    /* position: fixed; */
}


/* .mat-list-item{
    background-color: hotpink;
} */
a{
    color: #2F2D51;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
}
input{
    border: none;
}
input:focus{
    outline: none;
}



@media only screen and (max-width: 1280px) {

    a{
        color: #2F2D51;
    }
    /* .mat-toolbar{
        position: relative;
    } */
    .mat-toolbar-row{
        padding: 10px;
        background-color: #F2F7FF !important;
        z-index: 999;
    }
  }
