.search-results {
    background-color: #fff;
    padding: 14px;
    padding-bottom: 50px;
    margin: 30px;
    border-radius: 20px;
    overflow-x: scroll; /* Add the ability to scroll */
  }
.search-results::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-results {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mat-card {
    position: relative; 
    border-radius: 20px;
}

.mat-card::before {    
      content: "";
      background-image: url('../../../assets/image/5.webp');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
      border-radius: 20px;
}
.mat-card:hover{
    cursor: pointer;
}
.mat-card-title {
  position: relative;
  color: #ffffff; 
  text-align: center;
}
