
.search-results {
    background-color: #F2F7FF;
    width: 100%;
    height: auto;
    padding: 16px;
    overflow-x: scroll; /* Add the ability to scroll */
  }
.search-results::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-results {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  img{
      background-image: url("../../../assets/image/dummy.jpg") !important;
      background-size: 100% 100%;
      z-index: -1;
  }

  /* .mat-card-avatar{
      background-image: url("../../../assets/image/5.webp");
      background-size: 100% 100%;
  } */