
<div fxFlexLayout="cloumn">
  <app-header></app-header>
  <mat-toolbar fxFlexLayout="row" style="background-color: #F2F7FF !important;">
    <h3 fxFlex="90" fxLayoutAlign="space-between center">Recommended</h3>
    <a href="/" fxLayoutAlign="space-between center" routerLink="/property" >See All</a>
  </mat-toolbar>
</div>
<div fxFlexLayout="row" class="search-results"> 
  <!-- <mat-icon style=
  "border: 2px solid #FF97B5;
  border-radius:50%; 
  background-color: #FF97B5;
  color:#fff;padding:5px; 
  margin-top:70px;
  position:absolute;
  z-index:999" routerLink="/property">arrow_forward
</mat-icon> -->
  <div fxFlexOffset="5"fxLayoutAlign="space-between center" >
   
    <div *ngFor="let obj of dataAll; index as i">
      <mat-card class="mat-elevation-z4" style="margin: 10px; border-radius:5%; width: 250px;background-color: #F2F7FF;line-height:16px">
        <mat-card-header >
          
        </mat-card-header>
        <div style="border-radius: 5%;padding: 5px">
        <img mat-card-image src="{{obj.url}}">
        </div>
        <div fxFlexLayout="row"  fxLayoutAlign="space-between center">
          <div>
            <mat-card-title style="font-size: 18px;">{{obj.localities}}</mat-card-title>
            <mat-card-subtitle>{{obj.price}}</mat-card-subtitle>
            <mat-card-subtitle>{{obj.subtitle}}</mat-card-subtitle>
          </div>
          <div ><mat-icon style="cursor:pointer;border: 2px solid #FF97B5;border-radius:50%; background-color: #FF97B5;color:#fff;padding:5px;">favorite</mat-icon></div>
        </div>
      </mat-card>
    </div>
  </div>
</div>