
.search-results {
    background-color: #dfe6e9;
    width: 100%;
    height: auto;
    padding: 16px;
    overflow-x: scroll; /* Add the ability to scroll */
  }
.search-results::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-results {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.recommended{
    position: fixed; 
    z-index:99; 
    background-color:#f5a19b;
    padding: 0 10px;
    margin-left: -20px;
    border-radius: 10%;
}
  img{
      background-image: url("../../../assets/image/dummy.jpg") !important;
      background-size: 100% 100%;
      z-index: -1;
  }

  /* .mat-card-avatar{
      background-image: url("../../../assets/image/5.webp");
      background-size: 100% 100%;
  } */